doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
    link(rel="manifest", href="./manifest.webmanifest")
    link(rel="preload", href="./frank-ruhl-libre.woff2")
    title מִלָּה אַקְרָאִית
    style
      include ./index.css
  body
    template
      include ./words.txt
    h1 …
    button
      include ./button.svg
    script
      include ./index.js
