:root {
	--color-background: #fff;
	--color-text: #000;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #000;
		--color-text: #fff;
	}
}
@font-face {
	font-family: "Frank Ruhl Libre";
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url(./frank-ruhl-libre.woff2) format("woff2");
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
body {
	font-family: "Frank Ruhl Libre", serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background: var(--color-background);
	color: var(--color-text);
}
h1 {
	font-size: 10vw;
	font-weight: 500;
	text-align: center;
	user-select: none;
}
@media (orientation: portrait) {
	h1 {
		font-size: 20vw;
	}
}
button {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	border-radius: 50%;
	border: none;
	background: transparent;
	animation: spin 10s linear infinite;
	border-radius: 50%;
}
@media (prefers-reduced-motion) {
	button {
		animation: none;
	}
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
svg {
	width: 3em;
	height: 3em;
	display: block;
	padding: 0.5em;
	fill: var(--color-text);
}
